<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Morango</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            text-align: center;
        }
        h1 {
            font-size: 3em;
            color: #333;
        }
        p {
            font-size: 1.5em;
            color: #666;
        }
        a {
            text-decoration: none;
            color: #069;
        }
    </style>
</head>
<body>
    <h1>Morango</h1>
    <p>Portal de produtores rurais</p>
    <a href="api/auth/login">Login</a> |
    <a href="/register">Register</a>
</body>
</html>
